
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

#map {
  height: 100%;
}

#rootwizard .progress-bar {
  background-image: linear-gradient(to bottom,#ff8888 0,#ff8888 100%);
}

#rootwizard li.previous > a{
  border: none;
  color: #888888;
}

#rootwizard li.next > a {
  background-color: #ff8888;
  color: #ffffff;
  font-weight: bold;
}

#rootwizard li.finish > a {
  background-color: #ff8888;
  color: #ffffff;
  font-weight: bold;
  float: right;
}

#map-feedback .title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#map-feedback img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Various other styles end */
